{{ partial "header.html" . }}

<link rel="stylesheet" href="{{ `css/default_single.css` | relURL }}" type="text/css" media="all" />

<h1>{{ .Title }}</h1>
<div class="time-and-tags">
            <div class="post-meta">
                 <time>{{ .Date.Format "January 2, 2006" }}</time>
            </div>
            {{ with .Params.tags}}
            <ul class="post-tags">
                {{ range .}}
                <li>{{.}}</li>
                {{ end }}
            </ul>
            {{ end }}
</div>

<div class="content-and-table">
	<div class="content">
		{{ .Content}}
	</div>
	<div class="table">
		{{ .TableOfContents }}
	</div>
</div>



{{ partial "footer.html" . }}
