
<link rel="stylesheet" href="{{ `css/collection_home_part.css` | relURL }}" type="text/css" media="all" />
<div class="page">
    <div class="container">
        <div class="title">
            <h1>Collections</h1> 
        </div>
        <div class="demo_wrapper">
            <img src="{{ `icon/album/淚橋.webp` | relURL }}" alt="淚橋" class="album album-1" >
            <img src="{{ `icon/album/愛情的盡頭.webp` | relURL }}" alt="愛情的盡頭" class="album album-2" >
            <img src="{{ `icon/album/樹枝孤鳥.webp` | relURL }}" alt="樹枝孤鳥" class="album album-3" >
            <img src="{{ `icon/album/1984-1989.webp` | relURL }}" alt="1984-1989" class="album album-4" >
            <img src="{{ `icon/album/一個人.webp` | relURL }}" alt="1984-1989" class="album album-5" >
            <img src="{{ `icon/album/台北的天空.webp` | relURL }}" alt="1984-1989" class="album album-6" >
            <img src="{{ `icon/album/紅螞蟻1.webp` | relURL }}" alt="1984-1989" class="album album-7" >
            <img src="{{ `icon/album/大海.webp` | relURL }}" alt="1984-1989" class="album album-8" >
        </div>
        <div class="wrapper-container">
            <div class="wrapper wrapper1">
                <div class="item item1">無心過問妳的心裏我的吻</div>
                <div class="item item2">厭倦 我的虧欠 代替妳所愛的人</div>
                <div class="item item3">這個時候 我心落花一樣飄落下來</div>
                <div class="item item4">頓時 我的視線 失去了色彩</div>
            </div>
            <div class="wrapper wrapper2">
                <div class="item item1">知道妳也一樣不善於表白</div>
                <div class="item item2">想像 妳的相愛 編織的謊言懈怠</div>
                <div class="item item3">甜美鏡頭 竟也落花一樣飄落下來</div>
                <div class="item item4">從此 我的生命 變成了塵埃</div>
            </div>
            <div class="wrapper wrapper3">
                <div class="item item1">寂寞的人 總是習慣寂寞的安穩</div>
                <div class="item item2">至少 我們直線 曾經交叉過</div>
                <div class="item item3">就像站在烈日驕陽大橋上</div>
                <div class="item item4">眼淚狂奔滴落在我的臉龐</div>
            </div>
            <div class="wrapper wrapper4">
                <div class="item item1">知道妳也一樣不善於表白</div>
                <div class="item item2">想像 妳的相愛 編織的謊言懈怠</div>
                <div class="item item3">甜美鏡頭 竟也落花一樣飄落下來</div>
                <div class="item item4">從此 我的生命 變成了塵埃</div>
            </div>
            <div class="wrapper wrapper5">
                <div class="item item1">就像站在烈日驕陽大橋上</div>
                <div class="item item2">眼淚狂奔滴落在我的臉龐</div>
                <div class="item item3">啦啦啦啦啦啦啦啦啦啦啦</div>
                <div class="item item4">啦啦啦啦啦啦啦啦啦啦啦</div>
            </div>
        </div>
    </div>
</div>