
<link rel="stylesheet" href="{{ `css/home_postlist.css` | relURL }}" type="text/css" media="all" />

<div class="post-header">
    <h2 >Recent Posts</h2>
</div>

{{ range first 5 (sort (where .Site.RegularPages "Type" "posts") "Date" "desc")}}
<article class="post-snippet">
    <div class="post-image">
        <a href="{{ .RelPermalink }}">
            {{ with .Resources.GetMatch .Params.image }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}" >
            {{ end }}
        </a>
    </div>
    <div class="post-content">
        <h4>
       {{ .Title }}
        </h4>
        <div class="time-and-tags">
            <div class="post-meta">
                 <time>{{ .Date.Format "January 2, 2006" }}</time>
            </div>
            {{ with .Params.tags}}
            <ul class="post-tags">
                {{ range .}}
                <li>{{.}}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <p>{{ .Params.description }}</p>
        <div class="read-more" >
            <a class="read" href="{{ .RelPermalink }}">Read More</a>
            <img src="{{ `icon/arrow-right.svg` | relURL }}" alt="arrow" class="arrow" width="25">
        </div>
    </div>
</article>
{{ end }}