/*Title and Update Time*/
h1{
    margin-bottom: 0;
}

h6 {
    color: grey;
    margin:0;
}

.update-time {
    display: flex;
    flex-direction: row;
}


p {
    font-size: medium;
    color :black;
}

/*Content*/
