/*Collection Header*/
.collections-header {
   overflow: hidden;
   padding-top: 2rem;
   height: 340px;
}
.slider-track {
    display: flex;
    gap: 10px;
}

.album-slide {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.album-slide .album-des {
    display: none;
}


.album {
    flex: 0 0 250px;
    min-width: 250px;
    overflow: hidden;
    border: 1px outset rgb(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.5);
}

.album-slide:hover{
    transform: translate(0, -20px);
    transition: all ease-in-out 0.2s;
}

.album-slide:hover .album-des {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1px;
}

.album-slide:hover .album-des p{
    margin: 0;
    padding: 2px;
}

.album img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

/*Collection Card*/
.collections-snippet {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.collections-card {
    border: 1px solid black;
    border-radius: 1rem;
    width: 200px;
    height: auto;
    overflow: hidden;
    align-items: center;
}

.album-image {
    width: 100%;
    height: 200px;
}

.collection-content {
    padding-top: 1rem;
}

.collection-content a{
    text-decoration: none;
    color: black;
}

.collection-content h6{
    margin: 0;
    text-align: center;
}

.album-meta {
    margin: 0;
    padding: 0;
    font-size: x-small;
    color: gray;
    text-align: center;
}

.collections-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: .4rem;
    margin: 0;
    padding: 1rem;
}

.collections-tags li{
    margin: 0;
    padding: 0.5rem;
    font-size: 0.55rem;
    border: 1px solid black;
    border-radius: 10px;
}

@media screen and (max-width: 48rem) {
    .album-slide .album-des {
        display: none;
    }
    .album-slide:hover .album-des{
        display: none;
    }
}