/* LAYOUT */

body {
  color: #333;
  font-size: 125%;
  line-height: 1.5;
  max-width: 60rem;
  padding: 1rem;
  margin: 0 auto;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */
.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid black;
}


.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav nav:hover{
  box-shadow: 10px 5px 5px red;
}


.site-nav a {
  color: black;
  display: block;
  flex-wrap: wrap;
  gap: 1em;
  padding: 10px;
  text-decoration: none;
  font-size: small;
}

.site-nav a:hover{
  color: rgb(48, 92, 92);
}

.site-nav .logo {
  font-size: larger;
  font-weight: bolder;
  padding-left: 0;
  padding: 1rem;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}
